.lab {
	padding-right: 0.2em;
}

body {
	font-family: sans-serif;
	line-height: 1.5em;
	width: 50%;
	margin: 3em auto 0 auto;
}

#twowide {
	display: flex;
	width: 100%;
	flex-direction: column;
}

@media screen and (min-width:1000px) {
	#twowide {
		flex-direction: row;
	}
}


.box {
	flex-basis: 0;
	flex-grow: 1;
}

h4 {
	color: rgb(151, 151, 151);
	margin: .5em;
}

ul {
	margin-top: .5em;
}